$primary-color: #455ce9;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;

$background-dark: #141516;
$background-gary: lightslategrey;

$text-color: white;

$gray-light: rgb(201, 201, 201);
$gray-dark: rgb(41, 41, 41);
