@import "~@styles/variables";

.project {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding-block: 3rem;
  border-top: 1px solid $gray-light;
  cursor: pointer;
  transition: all 0.2s;

  @media (max-width: $small-tablet-size) {
    display: grid;
  }

  h2 {
    font-size: 60px;
    margin: 0px;
    font-weight: 400;
    transition: all 0.4s;
  }

  p {
    transition: all 0.4s;
    font-weight: 300;
  }

  &:last-of-type {
    border-bottom: 1px solid $gray-light;
  }

  &:hover {
    opacity: 0.5;

    h2 {
      transform: translateX(-10px);
    }

    p {
      transform: translateX(10px);
    }
  }
}
